EXPO_PUBLIC_SUPABASE_ENV=test
EXPO_PUBLIC_ALLOW_LIVE_SUPABASE=false
EXPO_PUBLIC_BUILD_PROFILE=development
EXPO_PUBLIC_SUPABASE_URL=https://ndohkecigwlwayghsopw.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_API_BASE_URL=https://footballplayer-mobile-test-api.netlify.app
EXPO_PUBLIC_EAS_PROJECT_ID=
